<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.CSharp" version="3.0.6" targetFramework="net45" />
  <package id="Bond.Runtime.CSharp" version="3.0.6" targetFramework="net45" />
  <package id="Hyak.Common" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Network" version="10.0.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.ResourceManager" version="1.5.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Resources" version="2.20.1-preview" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net452" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.5" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
</packages>